.containerLinks {
    text-indent: 0;
}

.containerLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    text-decoration: none;
}

.spanIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDCECE;
    padding: 2px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

