.containerReco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--margin-y) var(--margin-x);
}

.containerReco h1 {
    font-size: var(--h1-size-mobile);
    color: var(--vermelho-vibrante);
    text-align: center;
}

.containerReco h2 {
    font-size: var(--h2-size-mobile);
    font-weight: normal;
}

.textosPremios {
    display: flex;
    flex-direction: column;
    padding: var(--margin-y) var(--margin-x);
    box-sizing: border-box;
}

.textosPremios  p {
    font-size: var(--p-size-mobile);
    text-align: justify;
}

.pBorda {
    padding: 1.1em;
    border: 1px solid var(--vermelho-vibrante);
    border-radius: var(--border-radius);
    color: var(--vermelho-p);
}

.textosPremios img {
    width: 100%;
    margin-top: 1em;
}

@media screen and (min-width: 769px) {
    .textosPremios {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "p1 img"
            "p2 img"
            "p3 img";
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 1000px;
    }

    .textosPremios img {
        grid-area: img;
        width: 100%;
    }

    .p1 {
        grid-area: p1;
    }

    .p2 {
        grid-area: p2;
    }

    .pBorda {
        grid-area: p3
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .containerReco h1 {
        font-size: var(--h1-size-tablet);
    }

    .containerReco h2 {
        font-size: var(--h2-size-tablet);
    }

    .textosPremios p {
        font-size: var(--p-size-tablet);
    }
}

@media screen and (min-width: 1280px) {
    .containerReco h1 {
        font-size: var(--h1-size-desktop);
    }

    .containerReco h2 {
        font-size: var(--h2-size-desktop);
    }

    .textosPremios p {
        font-size: var(--p-size-desktop);
    }
}
